Package: 0xFF-BMK-webstatus
Version: 4.5
Section: base
Priority: optional
Architecture: mipsel
Maintainer: Bernhard Marker <bernhard@cybercomm.at>
Description: EDGERouter Webserver Erweiterung mit LetsEncrypt-Skript, damit OLSR-Status, Uptime,... dargestellt wird.      
 Es muessen zwingend der EdgeOS WebserverPorts von 80 und 443 abgeaendert werden. (z.b 81 und 8443)
 Tools fuer Scantools: https://{URL}/cgi-bin-status.php?get=status,https://{URL}/cgi-bin-status.php?get=phpinfo

